div.a3r .workList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.a3r .workItem * {
  transition: all .1s linear;
}

div.a3r .workItem {
  display: flex;
  flex-direction: column;
  border-bottom: var(--divider-color) 1px solid;
  margin:8px 0px;
  padding-bottom:16px;
  align-items: stretch;
  text-align: start;
  white-space: pre-line;
}



div.a3r .workItem > * {
  padding: 0px 16px;
}

div.a3r .workItem .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.a3r .workItem .header > .title {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}
div.a3r .workItem .header > .title > * {
  margin:0px;
}
div.a3r .workItem .header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


div.a3r .workItem .tags {
  display: flex;
  flex-direction: column;
}

div.a3r .workItem .tags:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.a3r .workItem .tags .main {
  display: flex;
  flex-direction: column;
}

div.a3r .workItem .tags .expanded {
  display: flex;
  flex-direction: column;
}

div.a3r .workItem .tags .main h5 {
  margin: 1px;
}

div.a3r .workItem .summary {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

div.a3r .workItem .summary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


div.a3r .workItem .trash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.a3r .workItem .trash > .button {
  all: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 64px;
  
}

div.a3r .workItem .trash > .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}